<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#0A3CA0">
    <meta name="viewport" content="initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!--div id="app-main"></div-->
    <div id="ui-root"></div>
  </body>
</html>